@font-face {
  font-family: "Red Hat Text";
  font-weight: 700;
  src: url("/assets/fonts/static/RedHatText-Bold.ttf");
}
@font-face {
  font-family: "Red Hat Text";
  font-weight: 600;
  src: url("/assets/fonts/static/RedHatText-SemiBold.ttf");
}
@font-face {
  font-family: "Red Hat Text";
  font-weight: 400;
  src: url("/assets/fonts/static/RedHatText-Regular.ttf");
}

:root {
  --font: "Red Hat Text";
  --green: hsl(159, 69%, 38%);
  --red: hsl(14, 86%, 42%);
  --rose100: hsl(13, 31%, 94%);
  --rose300: hsl(14, 25%, 72%);
  --rose400: hsl(7, 20%, 60%);
  --rose50: hsl(20, 50%, 98%);
  --rose500: hsl(12, 20%, 44%);
  --rose900: hsl(14, 65%, 9%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background-color: var(--rose100);
  padding-bottom: 30px;
  width: 100%;
}

.main {
  display: grid;
  gap: 30px;
  grid-template-columns: 60% 30%;
  justify-content: space-around;
  padding: 45px 105px;
  width: 100%;
}

/* /* Everything inside main */
/* ------------------------------------------------------------------------------------------------  */

.container {
  align-items: center;
  display: grid;
  grid-column: 1;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding-top: 45px;
}

/* Everything inside container */
/* ---------------------------------------------------------------------------------------- */

h1 {
  color: var(--rose900);
  font-family: var(--font);
  font-size: 51px;
  font-weight: 700;
  grid-column: 1;
  letter-spacing: -0.25px;
}

.item-container {
  padding-bottom: 30px;
  width: 308px;
}
/* Everything inside item-container */
/* ---------------------------------------------------------------------------- */

.dessert-img {
  border-radius: 5px;
  box-sizing: content-box;
  height: 225px;
  transition: 50ms;
  width: 248px;
}

.dessert-type {
  color: var(--rose500);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
}

.dessert-name {
  color: var(--rose900);
  font-family: var(--font);
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.dessert-price {
  color: var(--red);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
}

.add-to-cart {
  background-color: var(--rose50);
  border-radius: 50px;
  border: 1px solid var(--rose500);
  color: var(--rose900);
  cursor: pointer;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
  height: 42px;
  left: 45px;
  position: relative;
  top: -14px;
  transition: 0.1s;
  width: 158px;
}

.add-to-cart:hover {
  border: 1px solid var(--red);
  color: var(--red);
}

.selector {
  align-items: center;
  background-color: var(--red);
  border-radius: 50px;
  color: var(--rose50);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
  height: 42px;
  justify-content: space-between;
  left: 45px;
  padding: 0px 15px;
  position: relative;
  top: -21px;
  width: 158px;
}

.selector button {
  align-items: center;
  background-color: var(--red);
  border-radius: 50px;
  border: 1px solid var(--rose50);
  color: var(--rose50);
  display: flex;
  height: 23px;
  justify-content: center;
  width: 23px;
}

.selector button:hover {
  background-color: var(--rose50);
  color: var(--red);
}

.selector button:hover img {
  filter: invert(29%) sepia(66%) saturate(7066%) hue-rotate(13deg)
    brightness(90%) contrast(88%);
}

/* -------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

.cart {
  background-color: var(--rose50);
  border-radius: 10px;
  height: fit-content;
  min-height: 300px;
  padding: 30px;
  width: 420px;
}

/* Everything inside cart */
/* --------------------------------------------------------------------------------------------- */

h3 {
  color: var(--red);
  font-family: var(--font);
  font-size: 33px;
  font-weight: 700;
}

.button-selected {
  align-items: center;
  background-color: var(--red);
  border-radius: 50px;
  border: 1px solid var(--red);
  color: var(--rose50);
  display: inline-flex;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
  height: 42px;
  justify-content: space-around;
  width: 158px;
}

#empty-cart {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

#empty-cart-img {
  height: 150px;
  width: 150px;
}

#empty-cart-text {
  color: var(--rose500);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
}

.add-to-cart img {
  height: 23px;
  width: auto;
}

.count {
  font-family: var(--font);
  font-size: 17px;
  font-weight: 600;
}

.added-item-quantity {
  color: var(--red);
  font-family: var(--font);
  font-size: 17px;
  font-weight: 600;
}

.added-item-quantity::after {
  content: "x";
}

.item-price {
  color: var(--rose400);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  margin-left: 15px;
}

.item-price-total {
  color: var(--rose500);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
  margin-left: 9px;
}

.cart-item {
  border-bottom: 0.5px solid var(--rose300);
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 8px;
  width: 100%;
}

.cart-item img {
  float: right;
}

.remove-cart-item {
  border-radius: 50px;
  border: 1px solid var(--rose300);
  cursor: pointer;
  height: 19px;
  padding: 2px;
  width: 19px;
}

.remove-cart-item:hover {
  filter: brightness(70%);
}

#total-price {
  color: var(--rose900);
  font-family: var(--font);
  font-size: 23px;
  font-weight: 700;
}

#total-price::before {
    content: "$";
}

#carbon-neutral {
  align-items: center;
  background-color: var(--rose100);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 23px;
  padding: 15px;
}

#carbon-neutral p {
  color: var(--rose900);
  font-family: var(--font);
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  padding-left: 8px;
}

#carbon-neutral strong {
  font-weight: 600;
}

#confirm-order {
  background-color: var(--red);
  border-radius: 40px;
  border: 0;
  color: var(--rose50);
  cursor: pointer;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
  height: 48px;
  margin-top: 23px;
  transition: 0.1s;
  width: 100%;
}

#confirm-order:hover {
  filter: brightness(80%);
}

/* ------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

.hidden {
  display: none;
}

#order-confirmed-modal {
  background-color: var(--rose50);
  border-radius: 10px;
  box-sizing: border-box;
  left: calc(50vw - 300px);
  max-height: 80vh;
  min-height: 525px;
  overflow: auto;
  padding: 30px;
  position: fixed;
  top: 10vh;
  width: 600px;
  z-index: 9999;
}

#order-confirmed-modal h2 {
  color: var(--rose900);
  font-family: var(--font);
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -0.25px;
  margin-bottom: 8px;
}

#order-modal-text {
  color: var(--rose400);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

#confirmed-items-container {
  background-color: var(--rose100);
  border-radius: 10px;
  padding: 23px;
}

.confirmed-item-info {
  width: 100%;
}

.confirmed-item-quantity {
  color: var(--red);
  font-family: var(--font);
  font-size: 17px;
  font-weight: 600;
}

.confirmed-item-price {
  color: var(--rose400);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  margin-left: 8px;
}

.confirmed-item-total-price {
  color: var(--rose900);
  float: right;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
}

#start-new-order {
  background-color: var(--red);
  border-radius: 40px;
  border: 0;
  color: var(--rose50);
  cursor: pointer;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
  height: 48px;
  margin-top: 23px;
  transition: 0.1s;
  width: 100%;
}

#start-new-order:hover {
  filter: brightness(80%);
}

#confirmed-order-total {
  margin-top: 23px;
}

#confirmed-order-total-text {
  color: var(--rose900);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
}

#confirmed-order-total-price {
  color: var(--rose900);
  float: right;
  font-family: var(--font);
  font-size: 26px;
  font-weight: 700;
}

#confirmed-icon {
  height: 45px;
  width: 45px;
}

.confirmed-item {
  border-bottom: 0.5px solid var(--rose300);
  display: flex;
  padding: 23px 0;
  width: 100%;
}

.confirmed-item img {
  border-radius: 5px;
  height: 53px;
  margin-right: 15px;
  width: 53px;
}

.span-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#order-total-text {
  color: var(--rose900);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
}

.added-dessert-name {
  color: var(--rose900);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
}

#blocking-overlay {
  background-color: rgb(0, 0, 0);
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 800;
}
